.home {
    .background {
        filter: none !important;
    }
}

.about 
# Need suggestion on how to change the badge size 
}

.skills-section {
    .card {
        margin: 0;
        .card-body {
            display: none;
        }
    }
}
